@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: #f3f1ff;
    font-family: 'poppins', sans-serif
}
main{
    display: flex;
   align-items: center;
    flex-direction: column;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;

}
.top-players{
    margin-bottom: 30px;
}
/* top plqyer style stqrt */
.section-title{
    color:#562EFF;
    margin-top: 5px;
} 
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
    font-size: 1.17em;
}
/* top player style end */

hr{
    border: 1px solid #D1D1D1; 
}

/* --------top blogs styles---------- */



/* .header{
    width: 100%;
    height: 300px;
    
}
.brand{
    display: flex;
    justify-content: space-between;
    background-color: blue;
}
.logo img{
    height: 40px;
    width: 40px;
    margin-right: 30px;
}
.logo h2{
    color: white;
    font-weight: 900;
    font-family: sans-serif;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 40px;
    
}

.nav-list {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.nav-list, nav li a{
   list-style-type:none;
   text-decoration: none;
   color: white;
   font-size: 20px;
}
.nav-list nav{
    display: flex;
    gap: 40px;
    
}
.nav-list img{
    margin-left: 30px;
} */

/* header style end */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color:#9F9F9F;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color:#562EFF;
}

/* -------------courses styles------------------ */

.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:24px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
color:#AEAEAE;
}

.course-info{
display: flex;
align-items: center;
justify-content: space-between;
}

.course-duration{
    background-color:#FFE4E8 ;
    border-radius: 20px;
    padding: 1px 6px;
    color:#FF4A60;
}
.fa-clock{
    color:#FF4A60;  
}

/* -----------------media queries-------------
 */

 /* -------------mobile Device----------------
  */

  @media only screen and (max-width:688px){
  .container{
    width: 100%;
  }
    .players, .blogs, .courses{
    grid-template-columns: repeat(1,1fr);
   }
   .player, .blog{
    flex-direction: column;
   }
  }

  /* ---------------tablet Devices----------------
   */

@media only Screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
      }
        .players, .courses{
        grid-template-columns: repeat(2,1fr);
       }
       .blogs{
        grid-template-columns: repeat(1,1fr);
       }
       .player, .blog{
        flex-direction: column;
       }
      }
}