.header{
    width: 100%;
    height: 300px;
    
}
.brand{
    display: flex;
    justify-content: space-between;
    background-color: blue;
}
.logo img{
    height: 40px;
    width: 40px;
    margin-right: 30px;
}
.logo h2{
    color: white;
    font-weight: 900;
    font-family: sans-serif;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 40px;
    
}

.nav-list {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.nav-list, nav li a{
   list-style-type:none;
   text-decoration: none;
   color: white;
   font-size: 20px;
}
.nav-list nav{
    display: flex;
    gap: 40px;
    
}
.nav-list img{
    margin-left: 30px;
}




